SECRET_KEY=change-this-to-a-long-random-string
DEBUG=true
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
ALLOW_ALL_HOSTS=false
BOOTSTRAP_PASSWORD=ChangeMe!2026
SECURE_COOKIES=false
TIME_ZONE=Africa/Nairobi
# DATABASE_URL=postgres://dcollect:password@localhost:5432/dcollect

