{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | DCollect admin{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="icon" href="{% static 'brand/favicon.ico' %}" sizes="any">
  <link rel="icon" type="image/png" href="{% static 'brand/favicon-32.png' %}" sizes="32x32">
{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    <img src="{% static 'brand/logo.svg' %}" alt="" width="22" height="22" style="height:22px;width:22px;vertical-align:middle;margin-right:8px">
    DCollect administration
  </a>
</h1>
{% endblock %}
